<h2>{{name}}</h2>
<div class="container-js">
    <ul>
        <li class="Capital">Capital:{{Capital}}</li>
        <li class="population">Population:{{Population}}</li>
        <h3>Languages</h3>
        <ml>
            {{#each languages}}
            <li>{{languages}}</li>
            {{/each}}
        </ml>
    </ul>
    <img src="{{flag}}" alt="flag">
</div>